.home-container {
  padding: 10px;
  font-size: 22px;
  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 20px;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 60px 10px;
}

.home-content-container h1 {
  width: 260px;
  font-size: 1em;
  margin-bottom: 15px;
  color: #ffffff;
}

.home-content-container p {
  width: 260px;
  color: #ffffff;
  font-size: 0.7em;
  margin-bottom: 30px;
}

.home-image-container {
  padding: 50px 15px;
}

.home-image-container svg {
  width: 100%;
  height: auto;
}

.home-footer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 22px;
  text-align: center;
  background-color: #ededed;
  margin-top: 10px;
  margin-bottom: 140px;
  height: 123px;
}

.footer-top {
  margin-top: 20px;
}

.footer-bottom {
  font-size: 18px;
  color: #585858;
  margin-top: 10px;
}

@media (min-width: 576px) {
  .home-container {
    padding: 15px;
    font-size: 36px;
  }

  .home-content-container h1 {
    width: 420px;
    margin-bottom: 18px;
  }

  .home-content-container p {
    width: 420px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .home-image-container svg {
    width: 333px;
  }

  .home-footer-card {
    flex-direction: row;
    margin-bottom: 100px;
  }

  .footer-top {
    margin: 40px 20px 40px 85px;
  }

  .footer-bottom {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .home-card {
    height: 475px;
  }

  .home-content-container {
    padding: 20px 20px 50px 20px;
  }

  .home-image-container {
    padding: 80px 20px 0px 20px;
  }

  .home-footer-card {
    margin-bottom: 300px;
  }
}

@media (min-width: 992px) {
  .home-card {
    height: 579px;
  }

  .home-container {
    padding: 40px;
    font-size: 36px;
  }

  .home-content-container {
    padding: 20px 20px 100px 20px;
  }

  .home-image-container {
    padding: 80px 20px 0px 20px;
  }

  .home-image-container svg {
    width: 455px;
    height: 272px;
  }

  .home-footer-card {
    margin-bottom: 368px;
  }
}

@media (min-width: 1200px) {
  .home-card {
    flex-direction: row;
    justify-content: space-around;
    height: 365px;
  }

  .home-content-container {
    align-items: flex-start;
    text-align: left;
    align-content: space-between;
    flex-flow: wrap;
    padding: 120px 20px 100px 100px;
  }

  .home-image-container {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .home-image-container svg {
    width: 333px;
  }
}

@media (min-width: 1400px) {
  .home-container {
    height: 580px;
  }

  .home-image-container svg {
    width: 480px;
  }

  .home-footer-card {
    margin-bottom: 102px;
  }
}
