.btn-container {
  display: flex;
}

.btn-container button {
  border-radius: 10px;
  background-color: #00285f;
}

.btn {
  width: 174px;
  height: 40px;
}

.btn h6 {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .btn h6 {
    font-size: 18px;
  }
}
