.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #ededed;
  height: 347px;
}

.card-top-container {
  text-align: center;
}

.card-top-container img {
  width: 220px;
  height: 165px;
}

.card-bottom-container {
  padding: 20px 20px 15px 20px;
}

.card-bottom-container h6 {
  font-size: 18px;
  color: #263238;
}

.card-name-container h6 {
  font-size: 18px;
  color: #000000;
}

.card-description-container p {
  font-size: 14px;
  font-style: italic;
  margin-top: 14px;
  margin-left: 22px;
  color: #585858;
  font-weight: 400;
}

@media (min-width: 576px) {
  .card-description-container p {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .card-description-container p {
    font-size: 14px;
  }
}
